[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
nbdev = "*"
jupyterlab = "==3.6.3"
jupyterlab-quarto = "*"
psycopg2-binary = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
