[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.0.0"
boto3 = "*"
nbdev = "==2.3.12"
jupyterlab = "==3.6.3"
jupyterlab-quarto = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
